<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tony.mtglifecounter" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TwoPlayerScreen"
            android:label="@string/title_activity_two_player_screen" >
        </activity>
        <activity
            android:name=".ThreePlayerScreen"
            android:label="@string/title_activity_three_player_screen" >
        </activity>
        <activity
            android:name=".FourPlayerScreen"
            android:label="@string/title_activity_four_player_screen" >
        </activity>
    </application>

</manifest>
